body
    font-family: 'Montserrat', sans-serif
@import 'colors'
/* Global */
body
    --text-white: #{$white}
    --icon-mode: #{$icon-mode}
    --text-dark: #{$dark}
    --bg-grey-light: #{$grey-light}
    --bg-white: #{$bg-white}
    --bg-blue-dark: #{$blue-dark}
    --bg-indigo: #{$bg-indigo}
    --red-logo: #{$red}
    background-color: var(--bg-grey-light)
.dark
    --text-white: #{$dark_mode-text-white}
    --icon-mode-dark: #{$icon-mode-dark}
    --text-dark: #{$dark_mode-text-dark}
    --bg-grey-light: #{$dark_mode-bg-grey-light}
    --bg-white: #{$dark_mode-bg-white}
    --bg-blue-dark: #{$dark_mode-blue-dark}
    --bg-indigo: #{$dark_mode-bg-indigo}
    --rel-logo-dark: #{$red-dark}

h1, h2, h3, h4, h5, h6, p
    color: var(--text-dark)
h1
    font-weight: 700
    font-size: 22px
h2
    font-size: 25px
    font-weight: 700
    text-align: center
    padding: 25px 0
h6
    font-weight: 700
    font-size: 12px
p
    color: var(--text-dark)
    line-height: 2
    font-size: 14px
section
    margin-top: 50px
    margin-bottom: 50px
.nav-link.active
    color: var(--text-dark) !important
.nav-link
    color: var(--text-dark)
    font-weight: 400
    &:hover
        color: var(--text-dark)
.navbar-brand
    color: var(--text-dark)
.dropdown-menu
    left: -50px !important
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2)
    padding-left: 15px
    padding-right: 15px
    border-radius: 10px
.dropdown-item
    border: 4px
.active-mode::before
    content: "\F633"
    color: #2b67ff
    padding-left: 5px
.bi-book-half
    color: var(--red-logo) !important
.btn-mode
    background: none !important
.btn:focus
    box-shadow: none !important
.bi
    transition: .3s
    color: var(--icon-mode)
    font-size: 22px
    padding-left: 10px
    padding-right: 10px
    &:hover
        color: var(--icon-mode-dark)
/* Component */
@import 'component'
/* Element */
.avatar
    width: 150px
    border-radius: 1000px
    margin-bottom: 15px
@media (max-width: 480px)
    .avatar
        width: 120px
        border-radius: 1000px
        margin-bottom: 15px
    .dropdown-menu
        margin-left: -60px !important
.book
    &__head img
        height: 250px
    &__body
        &__avtor
            font-size: 12px
            color: var(--text-dark)
        &__avtor a
            text-decoration: none
            padding: 3px 8px
            color: var(--text-white)
            background: var(--icon-mode)
            border-radius: 5px
    &__footer p
        font-size: 12px
.rev
    &__img a
        font-size: 12px
    &__img img
        width: 80px
        border-radius: 1000px
        margin-bottom: 10px
    &__text p
        font-size: 12px
.contact a
    font-size: 14px
    font-weight: 700
    padding-left: 5px
    padding-right: 5px
    text-decoration: none
    color: var(--text-dark)
